@page
@model ptyxiaki.Pages.Professors.DetailsModel

@{
  ViewData["Title"] = "Λεπτομέρειες";
}

<h1>@ViewData["Title"]</h1>

<div>
  <h4>Καθηγητής</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.lastName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.lastName)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.firstName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.firstName)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.email)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.email)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.website)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.website)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.phone)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.phone)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.fax)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.fax)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.office)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.office)&nbsp;
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.professor.time)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.professor.time)&nbsp;
    </dd>
  </dl>
</div>
<div>
  <a asp-page="./Index">Καθηγητές</a>
  @if (User.IsInRole(Globals.PROFESSOR_ROLE) && User.getUserId() == Model.professor.professorId)
  {
    <text>| <a asp-page="./Edit">Επεξεργασία</a></text>
  }
</div>
