@page
@model ptyxiaki.Pages.Theses.CompleteModel

@{
  ViewData["Title"] = "Ολοκλήρωση";
}

<h1>@ViewData["Title"]</h1>

<h3>Είστε βέβαιοι ότι θέλετε να ολοκληρωθεί αυτή η διπλωματική εργασία;</h3>
<div>
  <h4>Διπλωματική εργασία</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.title)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.title)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.description)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.description)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.semester)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.semester.title)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.createdAt)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.createdAt)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.assignedAt)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.assignedAt)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.assignmentType)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.assignmentType)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.assignments)
    </dt>
    <dd class="col-sm-10">
      <ul class="list-unstyled mb-0">
        @foreach (var student in Model.thesis.assignments.Select(a => a.student))
        {
          <li>
            <a asp-page="/Students/Details" asp-route-id="@student.studentId">@Html.DisplayFor(model => student.fullName)</a>
          </li>
        }
      </ul>
    </dd>
  </dl>

  <div class="row">
    <div class="col-md-4">
      <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="thesis.thesisId" />
        <div class="form-group">
          <label asp-for="upload" class="control-label"></label>
          <input asp-for="upload" class="form-control-file" />
          <span asp-validation-for="upload" class="text-danger"></span>
        </div>
        <input type="submit" value="Ολοκλήρωση" class="btn btn-warning" /> |
        <a asp-page="./Index">Διπλωματικές εργασίες</a>
      </form>
    </div>
  </div>
</div>
