@page
@model ptyxiaki.Pages.Theses.TransferToUnavailableModel

@{
  ViewData["Title"] = "Μεταφορά";
}

<h1>@ViewData["Title"]</h1>

<h3>Είστε βέβαιοι ότι θέλετε να μεταφερθεί αυτή η πτυχιακή στις μη διαθέσιμες;</h3>
<div>
  <h4>Πτυχιακή</h4>
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.title)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.title)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.description)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.description)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.semester)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.semester.title)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.createdAt)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.createdAt)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.thesis.assignmentType)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.thesis.assignmentType)
    </dd>
  </dl>

  <form method="post">
    <input type="hidden" asp-for="thesis.thesisId" />
    <input type="submit" value="Μεταφορά" class="btn btn-primary" /> |
    <a asp-page="./Index">Πτυχιακές</a>
  </form>
</div>
