@page
@model ptyxiaki.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.registrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.registrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.average)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.average)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.progressFactor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.progressFactor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.studentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
