@page
@model ptyxiaki.Pages.Students.IndexModel

@{
  ViewData["Title"] = "Φοιτητές";
}

<h1>@ViewData["Title"]</h1>

<table id="students" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
  <thead>
    <tr>
      <th></th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].fullName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].fatherName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].registrationNumber)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].email)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].semester)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].average)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].credits)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.students[0].progressFactor)
      </th>
    </tr>
  </thead>
</table>

@section Scripts {
  <script>
    $(document).ready(function () {
      $('#students').DataTable({
        ajax: {
          type: 'POST',
          url: '/api/students'
        },
        columns: [{
          className: 'control',
          data: null,
          defaultContent: "",
          orderable: false
        }, {
          data: 'fullName',
          render: function (data, type, row, meta) {
            return `<a href="/Students/Details?id=${row.studentId}">${data}</a>`;
          }
        }, {
          data: 'fatherName'
        }, {
          data: 'registrationNumber'
        }, {
          data: 'email',
          render: function (data, type, row, meta) {
            return `<a href="mailto:${data}">${data}</a>`;
          }
        }, {
          data: 'semester'
        }, {
          data: 'average'
        }, {
          data: 'credits'
        }, {
          data: 'progressFactor'
        }],
        language: {
          url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Greek.json'
        },
        order: [1, 'asc'],
        orderMulti: false,
        responsive: {
          details: {
            type: 'column'
          }
        },
        serverSide: true,
        stateDuration: -1,
        stateSave: true
      });
    });
  </script>
}
