@page
@model ptyxiaki.Pages.Administration.Categories.IndexModel

@{
  ViewData["Title"] = "Κατηγορίες";
}

<h1>@ViewData["Title"]</h1>

<p>
  <a asp-page="Create">Δημιουργία νέας</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.categories[0].title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.categories[0].description)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.categories)
    {
      <tr>
        <td class="text-nowrap">
          @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.description)
        </td>
        <td class="text-nowrap">
          <a asp-page="./Edit" asp-route-id="@item.categoryId">Επεξεργασία</a> |
          <a asp-page="./Delete" asp-route-id="@item.categoryId">Διαγραφή</a>
        </td>
      </tr>
    }
  </tbody>
</table>
